# Configuración de Entorno
# GEMINI_API_KEY se usa para posibles análisis inteligentes (opcional)
GEMINI_API_KEY=
# URL de la API de Presupuesto (GAMSB)
VITE_BUDGET_API_URL=https://script.google.com/macros/s/AKfycbwpWff1UcJudm7myYz7X2GV_qEZ8_PeKzdopelBZ77CEwSp4FrPIUeijqfTXAAkH1Wr/exec
